<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rokid.glass.videorecorder" >
    <application>
        <service
            android:name="com.rokid.remote.record.RKMediaService"
            android:enabled="true"
            android:exported="true" />
    </application>
</manifest>
