<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lsy.login">


    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application android:theme="@style/BaseAppTheme.NoActionBar">
        <activity android:name="com.lsy.login.MainActivity"></activity>
        <activity android:name="com.lsy.equipment.list.EquipmentListActivity1"></activity>
        <activity android:name="com.lsy.equipment.list.EquipmentListActivity"></activity>
        <activity android:name="com.lsy.equipment.list.DetailedInfoActivity"></activity>

        <service android:name="com.sensoro.sensor.kit.SensoroDeviceService"></service>
        <service android:name="com.sensoro.sensor.kit.ble.service.IntentProcessorService"></service>
        <service
            android:name="com.sensoro.sensor.kit.ble.service.DfuService"
            android:exported="true" />
    </application>

</manifest>