<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gpsdk.demo">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="true" />

    <application >
        <activity
            android:name=".BluetoothDeviceList"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/bluetooth_device_list"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".UsbDeviceList"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/usb_devices_list"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".SerialPortList"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Holo.Light.Dialog" />
        <activity android:name=".ConnMoreDevicesActivity" />
    </application>

</manifest>